body {
  background-image: url("https://www.xmple.com/wallpaper/pink-purple-gradient-linear-1800x3200-c2-7b68ee-f376b0-a-285-f-14.svg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: cursive;
  color: white;
}


h1 {
    text-align: center;
    font-size: 65px;
    color: white;
    margin-top: -57px;
  }

  .firstimg {
   margin-left: 20px;
   margin-right: 20px;
   display: inline-block;

 }

 .center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 30%;
 }
 .center2 {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 30%;
 }

 a {
   font-size: 35px;
   color: white;
   text-align: center;
 }

 #Info{
   display: inline-block;
   font-size: 35px;
 }

 table {
   color: White;
 }

 #EpisodeChart {
   font-family: cursive;
   border-collapse: collapse;
   width: 100%;
 }

 #EpisodeChart td, #EpisodeChart th {
   border: 1px solid #ddd;
   padding: 8px;
   background-color: rgb(255, 0, 0, 0);
 }

 #EpisodeChart tr:nth-child(even){background-color: rgb(255, 0, 0, 0);}

 #EpisodeChart tr:hover {background-color: #e6ccff;}

 #EpisodeChart th {
   padding-top: 12px;
   padding-bottom: 12px;
   text-align: left;
   background-color: rgb(255, 0, 0, 0);
   color: white;
 }
