body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1TSrdWKZt_gdVwv73vRHch-FSj-ofPo3XzXh8yA3T8baTpFEf");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: fantasy;
  color: #fc05be;
}


h1 {
    text-align: center;
    font-size: 65px;
    color: #fc05be;
    margin-top: -57px;
  }

  .firstimg {
   margin-left: 20px;
   margin-right: 20px;
   display: inline-block;

 }

 .center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 40%;
 }
 .center2 {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 40%;
 }

 a {
   font-size: 35px;
   color: #fc05be;
   text-align: center;
 }

 #Info{
   display: inline-block;
   font-size: 35px;
 }

 table {
   color: #fc05be;
 }

 #EpisodeChart {
   font-family: cursive;
   border-collapse: collapse;
   width: 100%;
 }

 #EpisodeChart td, #EpisodeChart th {
   border: 1px solid #ddd;
   padding: 8px;
   background-color: rgb(255, 0, 0, 0);
 }

 #EpisodeChart tr:nth-child(even){background-color: rgb(255, 0, 0, 0);}

 #EpisodeChart tr:hover {background-color: #47c4f5;}

 #EpisodeChart th {
   padding-top: 12px;
   padding-bottom: 12px;
   text-align: left;
   background-color: rgb(255, 0, 0, 0);
   color:;
 }

 h2 {
   border: solid;
   color: #fc05be;
 }
